@import url("https://fonts.googleapis.com/css2?family=Anton&family=Press+Start+2P&family=Russo+One&display=swap");
body {
  color: #535353;
  font-family: "Russo One", sans-serif;
  background: #f1fcff;
  background-image: url();
}
header {
  background: linear-gradient(to bottom, #24295231, #f1fcff00);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  font-family: "Anton", sans-serif;
  z-index: 0;
}

h1 {
  font-family: "Press Start 2P", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 5%;
  left: 0;
  right: 0;
  font-size: 2.5rem;
  padding: 30px;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.rules {
  display: block;
  text-align: center;
  position: relative;
}
#start {
  font-family: "Russo One", sans-serif;
  padding: 10px 10px;
  background: #f1fcff;
  color: #535353;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

#later {
  font-family: "Russo One", sans-serif;
  padding: 10px 10px;
  background: #f1fcff;
  color: #535353;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
#start:hover {
  color: #6e7284;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
}
#later:hover {
  color: #6e7284;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
}

#game {
  background-color: #f1fcff;
}

.make-a-choice {
  display: grid;
  justify-content: center;
  font-size: 1.5rem;
}

.scoreboard {
  display: grid;
  justify-content: center;
  font-size: 1.5rem;
}

.play {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-around;
}
.result {
  display: flex;

  justify-content: space-around;
}
.results {
  display: block;
  text-align: center;
}

#user-choice {
  justify-content: center;
  text-align: center;
  position: absolute;
}
#cpu-choice {
  justify-content: center;
  text-align: center;
  position: absolute;
}
#result {
  display: flex;

  padding: 10px;
  height: 10px;
  justify-content: space-around;
  font-size: 1.5rem;
}
span {
  padding-left: 5px;
}
.button {
  background: none;
  border: none;
  outline: none;
  font-size: 3rem;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  transform: scale(1.3);
  transition: all 0.1s ease-in-out;
}

.scores {
  display: block;
  text-align: center;
}

#user-score {
  justify-content: center;
  text-align: center;
  position: absolute;
}
#cpu-score {
  justify-content: center;
  text-align: center;
  position: absolute;
}

#popup {
  display: ;
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  bottom: 30%;
  background: #f1fcff;
  text-align: center;
  z-index: 10000;
}

#overlay {
  pointer-events: none;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(210, 210, 210, 0.219);
  opacity: 0.1;
  z-index: 9999;
}

#popup-two {
  display: none;
  position: absolute;
  top: 18%;
  left: 10%;
  right: 10%;
  bottom: 30%;

  background: #f1fcff;
  text-align: center;
  z-index: 10000;
}

#popup-text {
  font-size: 2rem;
  color: #535353;
  background: #f1fcff;
  padding: 50px;
  box-sizing: border-box;
  margin: 0;
}

#restart {
  padding: 10px 10px;
  background: #f1fcff;
  color: #535353;
  font-size: 1.5rem;
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  font-family: "Russo One", sans-serif;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#restart:hover {
  color: #6e7284;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
}

footer {
  height: 100px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #ffffffa2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Russo One", sans-serif;

  z-index: 0;

  background: linear-gradient(to top, #ffffff00, #f1fcff),
    linear-gradient(
      90deg,
      #f3fbff 0%,
      #ecf9ff 5%,
      #def4fe 10%,
      #c5ecff 15%,
      #e2f5fe 20%,
      #ebf8ff 25%,
      #f6fcff 30%,
      #fcc5ff60 35%,
      #c5ceff60 40%,
      #c5edff60 45%,
      #c5fffe60 50%,
      #c5ffd060 55%,
      #c5fcff60 60%,
      #c5ffdb60 65%,
      #fcffc560 70%,
      #ffe7c560 75%,
      #ffc5c560 80%,
      #ffc5c560 85%,
      #ecfbff 95%,
      #f3fdff 100%
    );
}

#icons {
  font-size: 0.8rem;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px;
}

#icons a {
  font-size: 1.5rem;
  color: #535353;
}
#icons a:hover {
  color: #6e7284;
}
@media (max-width: 540px) {
  h1 {
    font-family: "Press Start 2P", cursive;
    display: grid;
    justify-content: space-around;
    font-size: 2rem;
    top: 2%;
  }
}
@media (max-width: 400px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    text-align: center;
  }

  h1 {
    font-family: "Press Start 2P", cursive;
    display: grid;
    justify-content: space-around;
    font-size: 1.3rem;
    top: 3%;
  }

  .rules {
    font-size: 0.8rem;
    display: block;
    text-align: center;
    position: relative;
  }
  #letsgo {
    display: inline-block;
    font-size: 0.8rem;
    font-family: "Russo One", sans-serif;
    padding: 5px;
    color: #535353;
    position: relative;
    border: none;
    cursor: pointer;
  }

  #notsure {
    display: inline-block;
    font-size: 0.8rem;
    font-family: "Russo One", sans-serif;
    padding: 5px;
    position: relative;
    color: #535353;
    cursor: pointer;
  }
  .make-a-choice {
    display: grid;
    justify-content: center;
    font-size: 1rem;
  }

  .scoreboard {
    display: grid;
    justify-content: center;
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
    text-align: center;
  }

  .button {
    background: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;

    width: 100%;
  }
  .results {
    font-size: 0.8rem;
  }
  #result {
    font-size: 1rem;
  }

  .scores {
    font-size: 0.8rem;
  }

  #popup-two {
    position: absolute;
    top: 15%;
    left: 5%;
    right: 5%;
    bottom: 50%;
  }
  #popup-text {
    font-size: 1rem;
    color: #535353;

    padding: 50px;
    box-sizing: border-box;
    margin: 0;
  }

  #restart {
    padding: 10px 10px;

    color: #4e4e4e;
    font-family: "Russo One", sans-serif;
    font-size: 0.7rem;
    border: none;
    position: fixed;
    top: 30%;
    left: 50%;

    cursor: pointer;
  }
  footer {
    height: 60px;
  }
  #icons {
    padding: 5px;
    font-size: 0.5rem;
    position: absolute;
  }
}
