@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Padauk&display=swap");

body {
  font-family: "Padauk", sans-serif;
  background: #f1fcff;
}
.logo {
  font-size: 2rem;
}
h1 {
  font-family: "Luckiest Guy", cursive, sans-serif;
  display: grid;
  justify-content: space-around;
  font-size: 2rem;
}

h2 {
  display: grid;
  justify-content: space-around;
  font-size: 1rem;
}

.play {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-around;
}

.results {
  display: flex;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-around;
}

.button {
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  transform: scale(1.2);
}

.scores {
  display: flex;
  justify-content: space-around;
}
.message-div {
  display: flex;
  justify-content: center;
}
.restart-div {
  display: flex;
  justify-content: center;
}

@media (max-width: 320px) {
  .logo {
    font-size: 1.2rem;
  }
  h1 {
    font-family: "Luckiest Guy", cursive, sans-serif;
    display: grid;
    justify-content: space-around;
    font-size: 1.2rem;
  }

  h2 {
    font-size: 0.8rem;
  }
  .button {
    background: none;
    border: none;
    outline: none;
    font-size: 0.8rem;
    cursor: pointer;

    width: 100%;
  }
  .results {
    font-size: 0.8rem;
  }
  #result {
    font-size: 0.8rem;
  }

  .scores {
    font-size: 0.8rem;
  }
  .message-div {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }
  .restart-div {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }
}
