@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Padauk&display=swap");
body {
  font-family: "Padauk", sans-serif;
  background: #f1fcff;
}
h1 {
  font-family: "Luckiest Guy", cursive, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.play {
  display: flex;
  justify-content: center;
}

#button {
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
}

.results {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 1rem;
  border: 1px solid black;
}
